{% extends './base.html' %}

{% block content %}
<div class="item-details">
<img src="{{ item.image.url }}" alt="{{ item.title }}" class="featured-img">
    <h2>{{ item.title }}</h2>
    <p>Description: {{ item.description }}</p>
    <p>Current Bid: ${{ item.bids.last.bid_amount }}</p>  <!-- Display the current bid, defaulting to the base price -->
    <p>Base Price: ${{ item.base_price }}</p>  <!-- Display the updated base price -->

    {% if item.is_auction_active %}
        <p>Auction is currently active!</p>
        {% if user.is_authenticated %}
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Place Bid</button>
            </form>
        {% else %}
            <p>You need to <a href="{% url 'login' %}?next={{ request.path }}">login</a> to place a bid.</p>
        {% endif %}
    {% else %}
        <p>Auction has not started or has ended.</p>
    {% endif %}
</div>
{% endblock %}