{% extends './base.html' %}

{% block content %}
<div class="item-details">
    <img src="{{ item.image.url }}" alt="{{ item.title }}" class="featured-img">
    <h2>{{ item.title }}</h2>
    <p>Description: {{ item.description }}</p>
    
    <!-- Display Current Bid -->
    {% if item.bids.all %}
        <p>Current Bid: ${{ item.bids.last.bid_amount }}</p>
    {% else %}
        <p>Base Price: ${{ item.base_price }}</p>
    {% endif %}

    {% if item.is_auction_active %}
        <p>Auction is currently active!</p>
        {% if user.is_authenticated %}
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Place Bid</button>
            </form>
        {% else %}
            <p>You need to <a href="{% url 'login' %}?next={{ request.path }}">login</a> to place a bid.</p>
        {% endif %}
    {% else %}
        <p>Auction has ended.</p>
        {% if user_won_auction %}
            <a href="{% url 'checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
        {% else %}
            <p>You have lost the auction.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

