{% extends './base.html' %}

{% block content %}
    <h2>Checkout</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Display winning bid details -->
        {% for bid in winning_bids %}
            <p>Item: {{ bid.item.title }}</p>
            <p>Final Winning Bid: {{ bid.bid_amount }}</p>
        {% endfor %}
        <!-- Billing Address Form -->
        <label for="street_address">Street Address</label>
        <input type="text" id="street_address" name="street_address" required><br>
        <label for="apartment_address">Apartment Address</label>
        <input type="text" id="apartment_address" name="apartment_address"><br>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" required><br>
        <label for="zip">Zip Code</label>
        <input type="text" id="zip" name="zip" required><br>
        <!-- Additional fields -->
        <input type="checkbox" id="same_shipping_address" name="same_shipping_address">
        <label for="same_shipping_address">Same as shipping address</label><br>
        <input type="checkbox" id="save_info" name="save_info">
        <label for="save_info">Save this information for next time</label><br>
        {% for choice in form.payment_option %}
            <input type="radio" id="{{ choice.0 }}" name="payment_option" value="{{ choice.0 }}">
            <label for="{{ choice.0 }}">{{ choice.1 }}</label><br>
        {% endfor %}
        <!-- Add other necessary fields for billing address -->
        <input type="submit" value="Proceed to Payment">
    </form>
{% endblock %}

