{% load static %}

<style>
  .topbar {
    background-color: white;
    color: black !important;
  }
  .topbar a:hover {
    color: black;
  }
  .wrap_menu {
    display: flex;
    justify-content: flex-end;
  }
</style>
<!-- Header -->
<header class="header1">
  <!-- Header desktop -->
  <div class="container-menu-header">
    <div class="wrap_header">
      <!-- Logo -->
      <a href="{% url 'home' %}" class="logo">
        <p style="color: black"><b style="font-size: 22px">S</b>neaks Bid</p>
      </a>

      <!-- Menu -->
      <div class="wrap_menu">
        <nav class="menu">
          <ul class="main_menu">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'shop' %}">Shop</a>
            </li>
            <li>
              <a href="{% url 'add_shoe' %}">Sell</a>
            </li>
                <li>
              <a href="{% url 'dashboard' %}">Profile</a>
            </li>
            <li>
              <a href="{% url 'signout' %}">Logout</a>
            </li>

            {% else %}
            <li>
              <a href="{% url 'signin' %}">Sign in</a>
            </li>
            <li>
              <a href="{% url 'signup' %}">Sign up</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'user_history' %}" class="user-history-btn">
              <i class="fas fa-history"></i> <!-- Font Awesome icon for history -->
            </a>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
