{% extends './base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.selection-2{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
</style>

	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/static/images/shop-bg-image.jpeg);">
		<h2 class="l-text2 t-center">
			Shop
		</h2>
		<p class="m-text13 t-center">
			All categories
		</p>
	</section>

	<!-- Display Sneakers -->
	
	<!-- Sneaker Images -->
<div class="sneaker-images">
	{% for sneaker in sneakers %}
		<div class="sneaker">
			<img src="{{ sneaker.image.url }}" alt="{{ sneaker.title }}">
			<h3>{{ sneaker.title }}</h3>
			<p>Description: {{ sneaker.description }}</p>
			<p>Price: ${{ sneaker.base_price }}</p>
			{% if sneaker.is_auction_active %}
				<p>Auction is active!</p>
			{% else %}
				<p>Auction is not active.</p>
			{% endif %}
			{% if user.is_authenticated %}
				<a href="{% url 'place_bid' item_id=sneaker.id %}" class="btn btn-primary">Place Bid</a>
			{% endif %}
		</div>
	{% endfor %}
</div>
{% endblock content %}