{% extends '../sneaksbid/header_footer.html' %}
{% block content %}
<div class="form-container">
    <div class="container1">
        <h3>Password Reset</h3>
        <p>Forgotten your password? Enter your email address below and we will email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary my-3" name="Send Email" value="Send">
        </form>
    </div>
</div>
{% endblock %}